Repository techlauncher-mlai-edge-physics/CFlowSim: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint", "prettier --list-different"],
  "*.json": "prettier --list-different",
  "*.md": "prettier --list-different"
}

ci(changelog): fix the permission error (#25)
  .github/workflows/changelog.yml
  CHANGELOG.md
Due: prettier --list-different

chore(changelog): update CHANGELOG.md
  CHANGELOG.md
Due: prettier --list-different

docs(OSS): add license
  LICENSE
Due: none

docs(templates): add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/risk-log.md
Due: prettier --list-different

docs(issue-templates): update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --list-different

docs(issue-templates): resolve reviews concern
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/risk-log.md
Due: prettier --list-different

docs(issue-template): add missing tag in title
  .github/ISSUE_TEMPLATE/risk-log.md
Due: prettier --list-different

docs(LICENSE): remove LICENSE
  LICENSE
Due: none

docs(ISSUE_TEMPLATE): remove priority label
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/risk-log.md
Due: prettier --list-different

docs(ISSUE_TEMPLATE): add issue templates (#26)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/risk-log.md
Due: prettier --list-different

Create LICENSE.txt
  LICENSE.txt
Due: none

docs(LICENSE): rename to LICENSE
  LICENSE
Due: none

docs(LICENSE): create LICENSE (#34)
  LICENSE
Due: none

docs(readme): change header to CFlowSim
  README.md
Due: prettier --list-different

docs(readme): changed title to github pages
  README.md
Due: prettier --list-different

docs(readme): change header to CFlowSim (#43)
  README.md
Due: prettier --list-different

feat(about) added some styling to about page and read from `README.md`
  src/pages/about.tsx
Due: eslint, prettier --list-different

docs(README):move dev details out of README
  README.md
  docs/about.md
  docs/gettingstarted.md
Due: prettier --list-different

feat(about): made text colour responsive to theme
  src/components/NavBar.tsx
  src/pages/about.tsx
Due: eslint, prettier --list-different

feat(mobile adaptation): implement mobile adaption for navbar
  src/components/NavBar.tsx
Due: eslint, prettier --list-different

feat(mobile adaptation): implement mobile adaption for parametersBar
  src/components/ParametersBar.tsx
Due: eslint, prettier --list-different

feat(mobile adaptation): implement mobile adaption for simulation
  src/pages/index.tsx
Due: eslint, prettier --list-different

style(eslint): remove ignore
  src/components/NavBar.tsx
Due: eslint, prettier --list-different

docs(readme): added a section about contributors
  README.md
Due: prettier --list-different

feat(about): changed styling and content of about page and refactored docs
  README.md
  docs/about.md
  docs/gettingstarted.md
  src/components/NavBar.tsx
  src/pages/about.tsx
Due: eslint, prettier --list-different

style(website): apply suggestions from code review
  src/components/NavBar.tsx
Due: eslint, prettier --list-different

feat(website): implement the responsive design (#45)
  src/components/NavBar.tsx
  src/components/ParametersBar.tsx
  src/pages/index.tsx
Due: eslint, prettier --list-different
