Repository techlauncher-mlai-edge-physics/CFlowSim: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

ci(lint): fix line breaking error in Windows
  .lintstagedrc.json
  .prettierrc.json
Due: prettier --list-different

feat(ParametersBar): add options to change colors (#17)
  components/ParametersBar.tsx
  package-lock.json
  package.json
  pages/index.tsx
Due: eslint, prettier --list-different

feat(simulator): convert rendering to texture
  components/Simulation.tsx
  shaders/vert.glsl
Due: eslint, prettier --list-different

ci(commit): add pre-commit hook for the project (#18)
  .husky/commit-msg
  .husky/lint-staged
  .lintstagedrc.json
  .prettierrc.json
  package-lock.json
  package.json
Due: prettier --list-different

feat(index): add ControlBar for simulation
  components/ControlBar.tsx
  pages/index.tsx
Due: eslint, prettier --list-different

feat(simulator): convert rendering to texture (#19)
  components/Simulation.tsx
  shaders/vert.glsl
Due: eslint, prettier --list-different

fix(typo): fix typo in index.tsx
  pages/index.tsx
Due: eslint, prettier --list-different

style: change occurences of Physics in the browser to CFlowSim (#20)
  components/NavBar.tsx
  pages/about.tsx
  pages/index.tsx
Due: eslint, prettier --list-different

feat(index): add ControlBar for simulation (#21)
  components/ControlBar.tsx
  pages/index.tsx
Due: eslint, prettier --list-different

fix(modelService): fix not restoring the simulation after hit fps limit
  services/modelService.ts
Due: eslint, prettier --list-different

ci(deps): update antd, onnxruntime and styled-components
  package-lock.json
  package.json
Due: prettier --list-different

feat: update deps, format the files, fix the linting errors
  .eslintrc.cjs
  .eslintrc.js
  .prettierignore
  .prettierrc.json
  commitlint.config.cjs
  modelverify.html
  package-lock.json
  package.json
  src/App.tsx
  src/components/ControlBar.tsx
  src/components/NavBar.tsx
  src/components/ParametersBar.tsx
  src/components/Simulation.tsx
  src/declaration.d.ts
  src/index.css
  src/main.tsx
  src/pages/about.tsx
  src/pages/index.tsx
  src/pages/modelverify.tsx
  src/pages/simDraft.tsx
  src/services/model.ts
  src/services/modelService.ts
  src/styles/Button.module.scss
  src/styles/Home.module.css
  src/styles/Navbar.module.css
  src/styles/theme/Global.js
  src/styles/theme/ThemeSwitching.styled.ts
  src/workers/modelWorker.ts
  src/workers/modelWorkerMessage.ts
  src/workers/tsconfig.json
  vite.config.ts
Due: eslint, prettier --list-different

revert(): revert eslint flat config update
  .eslintrc.cjs
  package.json
  src/App.tsx
  wip-eslint.config
Due: eslint, prettier --list-different

feat: add initial theming support, removing redundancies and improving types
  index.html
  package.json
  src/App.tsx
  src/components/NavBar.tsx
  src/components/Simulation.tsx
  src/pages/about.tsx
  src/pages/index.tsx
  src/pages/modelverify.tsx
  src/pages/wip-simDraft
  src/services/model.ts
  src/services/modelService.ts
  src/styles/Navbar.module.css
  src/workers/modelWorker.ts
Due: eslint, prettier --list-different

feat(Worker): add the interface to export the current data
  src/services/modelService.ts
  src/workers/modelWorker.ts
  src/workers/modelWorkerMessage.ts
Due: eslint, prettier --list-different

feat(Simulation): move the initialize to the app to persist worker
  src/App.tsx
  src/components/Simulation.tsx
Due: eslint, prettier --list-different

style(): fix navbar style error
  src/components/NavBar.tsx
Due: eslint, prettier --list-different

refactor(navbar): refactor to use the theme mode for theme setting
  src/App.tsx
  src/components/NavBar.tsx
Due: eslint, prettier --list-different

ci(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --list-different

docs(readme): update readme for vite build
  README.md
Due: prettier --list-different

Create codeql.yml
  .github/workflows/codeql.yml
Due: none

ci(action): add ci to generate changelog
  .github/workflows/changelog.yml
Due: none

ci(changelog): allow manually trigger
  .github/workflows/changelog.yml
Due: none

ci(changelog): update changelog ci
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
  .github/workflows/changelog.yml
  CHANGELOG.md
Due: prettier --list-different

ci(changelog): add for pull requests
  .github/workflows/changelog.yml
Due: none

ci(changelog): update permission
  .github/workflows/changelog.yml
Due: none

Apply automatic changes
  CHANGELOG.md
Due: prettier --list-different

ci(changelog): update workflow version
  .github/workflows/changelog.yml
Due: none

ci(changelog): update to fetch all the history
  .github/workflows/changelog.yml
  CHANGELOG.md
Due: prettier --list-different

ci(changlog): add manual trigger, remove on pr run
  .github/workflows/changelog.yml
Due: none

ci(changelog): better commit msg
  .github/workflows/changelog.yml
Due: none

ci(changelog): add force-push ignore chore commit
  .chglog/config.yml
  .github/workflows/changelog.yml
Due: none

ci(actions): create github action files (#24)
  .chglog/CHANGELOG.tpl.md
  .chglog/config.yml
  .github/workflows/changelog.yml
  .github/workflows/codeql.yml
  CHANGELOG.md
Due: prettier --list-different

Update changelog.yml
  .github/workflows/changelog.yml
Due: none

chore(changelog): update CHANGELOG.md
  CHANGELOG.md
Due: prettier --list-different

ci(changelog): remove testing branch target
  .github/workflows/changelog.yml
Due: none

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx}
  prettier --list-different: ((any of: *.{ts,tsx,js,jsx}) or (any of: *.json)) or (any of: *.md)
