Repository techlauncher-mlai-edge-physics/CFlowSim: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint", "prettier --list-different"],
  "*.json": "prettier --list-different",
  "*.md": "prettier --list-different"
}

feat(controlBar): update new design of start/pause and stop buttons
  src/components/ControlBar.tsx
Due: eslint, prettier --list-different

fix(controlBar): set ControlBarContainer horizontally in the middle of the page
  src/components/ControlBar.tsx
Due: eslint, prettier --list-different

feat(autosave;restore-ui): restore functionality from IndexedDB
  src/components/ControlBar.tsx
  src/components/RestoreComponents/IndexedDBRestore.tsx
  src/components/RestoreComponents/LocalFileRestore.tsx
  src/components/RestoreComponents/RestorePopUp.tsx
  src/pages/index.tsx
  src/workers/modelWorker.ts
Due: eslint, prettier --list-different

chore(changelog): update CHANGELOG.md
  CHANGELOG.md
Due: prettier --list-different

feat(initial ui): add ui to choose between model and initial statement
  src/components/ParametersBar.tsx
Due: eslint, prettier --list-different

fix(about page): fix style issue in about page
  src/pages/about.tsx
Due: eslint, prettier --list-different

fix(index page): fix style issue in index page
  src/pages/index.tsx
Due: eslint, prettier --list-different

feat(autosave;restore-ui): restore functionality from IndexedDB; restore ui (#162)
  src/components/ControlBar.tsx
  src/components/RestoreComponents/IndexedDBRestore.tsx
  src/components/RestoreComponents/LocalFileRestore.tsx
  src/components/RestoreComponents/RestorePopUp.tsx
  src/components/RestoreComponents/RestoreProps.ts
  src/components/restorePopUp.tsx
  src/pages/index.tsx
  src/workers/modelWorker.ts
Due: eslint, prettier --list-different

style(about page): reformat style issue
  src/pages/about.tsx
Due: eslint, prettier --list-different

fix(style): fix style issue in index page & about page (#163)
  src/pages/about.tsx
  src/pages/index.tsx
Due: eslint, prettier --list-different

feat(para-bar): add ui to choose between model and initial statement (#164)
  src/components/ParametersBar.tsx
Due: eslint, prettier --list-different

fix(restorePopup): fix the issue that it can only show once
  src/components/RestoreComponents/RestorePopUp.tsx
  src/components/RestoreComponents/RestoreProps.ts
  src/pages/index.tsx
Due: eslint, prettier --list-different

fix(ControlBar): optimize model saving process in ControlBar component
  src/components/ControlBar.tsx
Due: eslint, prettier --list-different

build: add .gitattribute file to normalize line endings
  .gitattributes
Due: none

build: add .gitattribute file to normalize line endings (#170)
  .gitattributes
Due: none

fix(restorePopup): fix the issue that it can only show once (#168)
  src/components/RestoreComponents/RestorePopUp.tsx
  src/components/RestoreComponents/RestoreProps.ts
  src/pages/index.tsx
Due: eslint, prettier --list-different

style: run prettier
  src/components/ControlBar.tsx
Due: eslint, prettier --list-different

fix(ControlBar): optimize model saving process in ControlBar component (#177)
  src/components/ControlBar.tsx
Due: eslint, prettier --list-different

ci(changelog): pull repo before push
  .github/workflows/changelog.yml
Due: none

fix(ControlBar): fix eslint error
  src/components/ControlBar.tsx
Due: eslint, prettier --list-different

refactor(ControlBar): remove not used export
  src/components/ControlBar.tsx
Due: eslint, prettier --list-different

feat(renderer): add ability to render a height map & add camera controls (#159)
  src/components/ParametersBar.tsx
  src/components/Simulation.tsx
  src/pages/index.tsx
  src/shaders/vert_height.glsl
Due: eslint, prettier --list-different

ci(changelog): pull repo before push (#178)
  .github/workflows/changelog.yml
Due: none

fix(index): fix typo of restore popup
  src/pages/index.tsx
Due: eslint, prettier --list-different

fix(index): fix typo of restore popup (#181)
  src/pages/index.tsx
Due: eslint, prettier --list-different

ci(changelog): fix pull issue
  .github/workflows/changelog.yml
Due: none

ci(changelog): fix pull issue (#182)
  .github/workflows/changelog.yml
Due: none

fix(parBar): fix rerender issue in parBar
  src/components/ParametersBar.tsx
Due: eslint, prettier --list-different

fix(controlBar): fix button overlapping
  src/components/ControlBar.tsx
Due: eslint, prettier --list-different
