Repository techlauncher-mlai-edge-physics/CFlowSim: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --list-different

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint", "prettier --list-different"],
  "*.json": "prettier --list-different",
  "*.md": "prettier --list-different"
}

feat(parameter-pane): create components for parameter pane
  package.json
  src/components/ParameterComponents/ChoiceParameter.tsx
  src/components/ParameterComponents/DropdownParameter.tsx
  src/components/ParameterComponents/ParameterLabel.tsx
  src/components/ParameterComponents/SliderParameter.tsx
Due: eslint, prettier --list-different

refactor(style sheet): remove useless style sheets with pre-inspection and pre-double check
  src/styles/AboutPage.module.css
  src/styles/Button.module.scss
  src/styles/Home.module.css
  src/styles/app.css
  src/styles/theme/Global.js
  src/styles/theme/ThemeSwitching.styled.ts
Due: eslint, prettier --list-different

refactor(style sheet): remove sass packages from package.json
  package-lock.json
  package.json
Due: prettier --list-different

refactor(styles): remove deprecated style sheets (#53)
  package-lock.json
  package.json
  src/styles/AboutPage.module.css
  src/styles/Button.module.scss
  src/styles/Home.module.css
  src/styles/app.css
  src/styles/theme/Global.js
  src/styles/theme/ThemeSwitching.styled.ts
Due: eslint, prettier --list-different

chore(changelog): update CHANGELOG.md
  CHANGELOG.md
Due: prettier --list-different

docs(README): replace LICENSE placeholder
  README.md
Due: prettier --list-different

docs(README): replace LICENSE placeholder (#60)
  README.md
Due: prettier --list-different

feat(parameter-pane): replace antd components with custom styled components
  src/components/ParameterComponents/ChoiceParameter.tsx
  src/components/ParameterComponents/DropdownParameter.tsx
  src/components/ParameterComponents/ParameterLabel.tsx
  src/components/ParameterComponents/SliderParameter.tsx
Due: eslint, prettier --list-different

fix(parameter-pane): fix styling
  src/components/ParameterComponents/ChoiceParameter.tsx
  src/components/ParameterComponents/DropdownParameter.tsx
  src/components/ParameterComponents/SliderParameter.tsx
Due: eslint, prettier --list-different

feat(parameter-pane): create components for parameter pane (#52)
  package.json
  src/components/ParameterComponents/ChoiceParameter.tsx
  src/components/ParameterComponents/DropdownParameter.tsx
  src/components/ParameterComponents/ParameterLabel.tsx
  src/components/ParameterComponents/SliderParameter.tsx
Due: eslint, prettier --list-different

feat(parameterpane): base impl of new components
  src/components/ParameterComponents/ParameterButton.tsx
  src/components/ParameterComponents/ParameterLabel.tsx
  src/components/ParametersBar.tsx
Due: eslint, prettier --list-different

feat(parameterpane): added easy expert modes
  src/components/ParameterComponents/ParameterButton.tsx
  src/components/ParametersBar.tsx
Due: eslint, prettier --list-different

refactor(modelService): rename it to ONNXService
  src/services/ONNXService.ts
Due: eslint, prettier --list-different

feat(tfjsService): initialize tensorflowjs backend
  src/services/TfjsService.ts
Due: eslint, prettier --list-different

perf(tfjs-runtime): use tensor op instead of array iter
  src/services/TfjsService.ts
Due: eslint, prettier --list-different

feat(model): update modelService interface
  src/services/ONNXService.ts
  src/services/model.ts
  src/services/modelService.ts
Due: eslint, prettier --list-different

fix(tfjs-runtime): attempt to fix the memory leak
  src/services/TfjsService.ts
Due: eslint, prettier --list-different

feat(website analytics): add GA to web application
  index.html
Due: none

fix(parameter): simplify category filter logic
  src/components/ParametersBar.tsx
Due: eslint, prettier --list-different

fix(parameter): level height of `ShowHide` button
  src/components/ParametersBar.tsx
Due: eslint, prettier --list-different

feat(modelService): added empty serialisn funcs
  package-lock.json
  package.json
  src/services/model.ts
  src/services/modelService.ts
  src/workers/modelWorker.ts
  tests/services/modelService.test.ts
Due: eslint, prettier --list-different

test(modelstate): add primitive tests
  src/workers/modelWorker.ts
  tests/services/modelService.test.ts
Due: eslint, prettier --list-different

refactor(modelService): add factory method to create model service
  src/services/model/ONNXService.ts
  src/services/model/TfjsService.ts
  src/services/model/modelService.ts
  src/services/modelService.ts
  src/workers/modelWorker.ts
Due: eslint, prettier --list-different

feat(webgpu-rendering-context): import webgpu renderer from three.js and creates a renderer
  src/components/Simulation.tsx
  src/declaration.d.ts
Due: eslint, prettier --list-different

fix(WebGPU): bump build target to resolve error
  tsconfig.json
  vite.config.ts
Due: eslint, prettier --list-different

Create eslint.yml
  .github/workflows/eslint.yml
Due: none

ci(eslint): attempt to fix the running error
  .github/workflows/eslint.yml
Due: none

ci(eslint): fix the exit error again
  .github/workflows/eslint.yml
Due: none

fix(webgpu-rendering-context): fix type declaration
  src/declaration.d.ts
Due: eslint, prettier --list-different

fix(): clean some unused codes
  modelverify.html
  src/pages/modelverify.tsx
  src/pages/wip-simDraft
Due: eslint, prettier --list-different

style(three-webgpu): run prettier formatting on the code
  src/components/Simulation.tsx
  src/declaration.d.ts
Due: eslint, prettier --list-different
